<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="proto.media.fiesta.features.domain.car.app.DebugPlayFromSearchReceiver"
            android:exported="true" />
    </application>
</manifest>
